/*  geral */

html {
    font-family: 'open sans', 'sans-serif';
    color: #373A3C;
}

a {
    transition:  .5s;
}

#sidebar  {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #006599;
    padding-top: 40px;
}

#sidebar h1 {
    color: #FFF;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#sidebar a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
}

#sidebar a:hover {
    color: #F4EF5E;
}

